.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer p{
  font-size: 80%;
}

.icons-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#github {
    padding: 0px 10px 0px 0px
}

#linkedin {
    margin: 0%;
    padding: 0%
}

.icons-footer span {
  margin: 0;
}

/* @media (max-width: 767px) {} */
