@font-face {
  font-family: "hey-comic";
  src: url("../../public/Fonts/hey-comic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.introduction {
  margin-top: 10%;
  font-size: 300%;
  display: inline-block;
  color: #4b0082;
  font-family: "hey-comic";
}

.hello-cats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  max-width: 700px;
}
