/* Sidebar Navigation */
.sidenav {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/Images/background.jpg");
  overflow-x: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Sidebar links */
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 100px;
}

.links a:hover {
  color: purple;
  transform: scale(1.1); 
}

a {
  font-weight: 700;
  color: #4b0082;
  text-decoration: inherit;
}
a:hover {
  color: #4b0082;
}


.icons-sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* space between icons */
}

.icons-sidenav a {
  font-size: 30px; /* Icon size */
  transition: color 0.3s;
  text-decoration: none;
}


