.sidenav {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/Images/background.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add space under the Avatar */
}

.avatar {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
  background-image: url("../../public/Images/background10.jpg");
}

.icons-sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Space between icons */
}

.icons-sidenav a {
  font-size: 150%; /* Icon size */
  transition: color 0.3s;
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 100px;
}

.links a {
  font-weight: 700;
  color: #4b0082;
  text-decoration: inherit;
}

.links a:hover {
  color: purple;
  transform: scale(1.1);
}

a {
  text-decoration: none;
}
