/* Ensure the root element takes up the full viewport height and width */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("/Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  font-family: "Hey-comic";
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow-x: hidden; /* Keep content within the window space */
}

.app-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* prevent overflow orizzontally */
}

/* Fixing Sidenav to the left */
.sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Sidenav width */
  height: 100%;
  z-index: 1;
  overflow-x: hidden; /* Ensure that there are no horizontal overflows. */
}

.main-content {
  margin-left: 250px; /* Sidenav space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
  text-align: center;
  min-height: calc(100vh - 50px); /* Footer space */
  width: calc(
    100% - 250px
  ); /* Ensure that it takes up all the remaining space next to the Sidenav */
  box-sizing: border-box; /* Include padding and margins in the width calculation */
}

/* Footer aligned to the bottom and centered */
.main-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(
    100% - 250px
  ); /* Subtract the width of the Sidenav to align the footer with the main content. */
  position: fixed;
  bottom: 0;
  left: 250px; /* Align the footer after the Sidenav. */
  height: 50px; /* footer height */
  box-sizing: border-box; /* Include padding and margins in the width calculation. */
}
